@use "../../global/index" as *;


.top-voices {
    width: 100%;
    min-height:rm(775);
    background: $color-bg-sub;
    padding-block-start: rm(30);
    @include mq(sp-sm) {
        margin-block-end: rm(-100);

    }
}

.top-voices__wrap {
    margin-block-start: rm(137);
    display: flex;
    gap: rm(26);
    padding-inline: rm(93);
    @include mq(sp-sm) {
        padding-inline: rm(25);
        margin-block-start: rm(85);

    }
}

.top-voices__card {
    width: rm(262);
    min-height: rm(377);
    aspect-ratio: 262/377;
    background: $white;
    border-radius: rm(20);
    padding: rm(22) rm(22) rm(42) rm(22);
    display: grid;
    grid-template-columns: rm(57) auto;
    column-gap: rm(11);
    row-gap: rm(14);
}

.top-voices__card__title {
    font-weight: bold;
    line-height: 1.2;
    font-size: rm(16);
    color: $color-text-sub;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    &::before:nth-of-type(1){
        content: "";
        display: block;
        background:url(../../../img/voices-icon1.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: rm(57);
        height: rm(57);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $color-voices-icon;
    }
}

.top-voices__card__icon{
    width: rm(57);
    height: rm(57);
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: $color-voices-icon;
    grid-row: 1/2;
    grid-column: 1/2;
    img{
        width: rm(32.72);
        height: rm(41);
        width: 100%;
    }
}

.top-voices__card__label {
    grid-row: 2/3;
    grid-column: 1/3;
    background: $color-accent;
    line-height: 1;
    font-weight: bold;
    font-size: rm(12);
    color: $white;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-block: rm(3);
    padding-inline: rm(5);
}

.top-voices__card__text {
    grid-column: 1/3;
    grid-row: 3/4;
    line-height: 1.5;
    font-size: rm(14);
    text-transform: uppercase;
}



